<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samish.teleeducation" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Village"
            android:label="@string/title_activity_village"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samish.teleeducation.MainActivity" />
        </activity>
        <activity
            android:name=".School"
            android:label="@string/title_activity_school"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samish.teleeducation.MainActivity" />
        </activity>
        <activity
            android:name=".Ques"
            android:label="@string/title_activity_ques"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samish.teleeducation.MainActivity" />
        </activity>
        <activity
        android:name=".Ques_Taluk"
        android:label="@string/title_activity_ques"
        android:parentActivityName=".MainActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.samish.teleeducation.MainActivity" />
    </activity>
    </application>

</manifest>
